/*Body*/
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Poppins', 'sans-serif';
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
  background: #ffffff;
  color: #1e1e27;
}
div{
  display: block;
  position: relative;
  box-sizing: border-box;
}
ul{
  list-style: none;
  margin-bottom:  0;;
}
p{
  font-family: 'poppins', 'sans-serif';
  font-size: 14px;
  line-height: 1.7;
  font-weight: 500;
  color:#989898;
  -webkit-font-smothing: antialiased;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a{
  display: inline;
  position: relative;
  color: inherit;
  border-bottom: solid 2px #fde0db;
  transition: all 200ms ease;
}
a, a:hover, a:active, a:link{
  text-decoration: none;
  -webkit-font-smothing: antialiased;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

p a:active{
  position: relative;
  color: #ff6347;
}

p a:hover{
  color: #ff6347;
  background: #fde0db;
}
p a:hover::after{
  opacity: 0.2;
}
::selection{
  background: #fde0db;
  color: #ff6347;
}
p::selection{
  background: #fde0db;
}

h1{font-size: 72px;}
h2{font-size: 40px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 16px;}
h6{font-size: 14px;}
h1,h2,h3,h4,h5,h6{
  color: #282828;
  -webkit-font-smothing: antialiased;
  text-shadow: rgba(0,0,0,0.01) 0 0 1px;
}
.trans_300{
  transition: all 300ms ease;
}
::input-placeholder{
  font-size: 16px !important;
  font-weight: 500;
  color: #777777;
}
.clearfix::before, .clearfix::after{
  content: "";
}
.clearfix::after{
  clear: both;
}
.clearfix{
  zoom: 1;
}
.super_container{
  width: 100%;
  overflow: hidden;
}
.fill_height{
  height: 100%;
}


/***************************************************** header ***********************************************/
div.brand-logo-container {
    border: 2px solid transparent;
  }
  div.brand-logo-container:hover {
    border: 2px solid #cf2d42;
  }
  a.brand-logo:after {
    content: "Uniseverything";
    font: 100% Lato, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    margin-left: 4px;
    color: #cf2d42;
  }
  
  a.navbar-link {
    color: #cf2d42 !important;
    border: 2px solid transparent;
    font-size: 16px;
  }
  
  a.navbar-link:hover {
    border: 2px solid #cf2d42;
  }
  
  input.search-input {
    width: 800px !important;
  }

  input[type="search"]:focus{
    outline: none !important;
  }
  
  div.dropdown-list {
    background-color: #0e0e0e;
    width: 300px;
  }
  
  div.dropdown-list a {
    color: #cf2d42;
  }
  div.dropdown-list a:hover {
    background-color: #cf2d42 !important;
  }
  .sign-in {
    border: 1px solid #fff;
    color: #cf2d42 !important;
    background-color: #fff;
    width: 90%;
    margin: auto;
    text-align: center;
  }
  .sign-in:hover {
    background-color: #cf2d42;
    color: #0e0e0e !important;
  }
  
  .sign-up {
    border: 1px solid #fff;
    color: #cf2d42 !important;
    background-color: #fff;
    width: 90%;
    margin: auto;
    text-align: center;
    padding-left: 5px;
  }
  .sign-up:hover {
    background-color: #cf2d42;
    color: #0e0e0e !important;
  }
  
  /********************************************** Footer *****************************************************/
  footer.main-footer {
    background-color: #1e2023;
    margin-top: 50px;
  }
  .footer-content h2 {
    color: #cf2d42 !important;
  }
  .footer-content {
    display: flex;
  }
  .footer-content .footer-box {
    flex-basis: 50%;
    padding: 10px 20px;
  }
  .footer-box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .footer-box .section-content {
    margin: 20px 0 0 0;
  }
  .footer-left .section-content .social {
    text-align: justify;
  }
  .footer-left .section-content .social {
    margin: 20px 0 0 0;
  }
  .footer-left .section-content .social a {
    padding: 0 2px;
  }
  .footer-left .section-content .social a span {
    height: 40px;
    width: 40px;
    background: #cf2d42;
    color: #fff;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
  }
  .footer-anchor {
    color: #cf2d42 !important;
    text-decoration-line: none;
  }
  .footer-anchor:hover {
    text-decoration-line: none;
  }
  div.text{
    color: #cf2d42;
  }
  footer div p{
    color: #fff;
  }

  footer span.text{
    color: #fff;
  }
  
  .popular-categories img {
    width: 100%;
    height: 200px;
    min-height: 200px;
  }

  .section-title{
    display: inline-block;
    text-align: center;
  }
  .section-title h2{
    display: inline-block;
  }
  .section_title:after{
    display: block;
    position: absolute;
    top: calc(100% + 13px);
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 5px;
    background: #fe4c50;
    content: '';
  }
  .section_title_margin{
    margin-top: 50px;
  }
  /********************************* Banner **********************************************/
.banner{
    width: 100%;
    margin-top: 30px;
}
.banner_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 265px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.banner_category{
    height: 50px;
    background: #ffffff;
    min-width: 180px;
    padding-left: 25px;
}
.banner_category a{
    display: block;
    color: #cf2d42;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    width: 100%;
    padding-right: 20px;
}
.banner_category a:hover{
    color: #1e2023;
}


/*******************************************New Arrival*********************************/
.new_arrivals{
  width: 100%;
}

.new_arrivals_sorting{
  display: inline-block;
  border-radius: 3px;
  margin-top: 59px;
  overflow: visible;
}

.grid_sorting_button{
  height: 40px;
  min-width: 102px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  cursor: pointer;
  border: solid 1px #ebebeb;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  background: #fff;
  border-radius: 3px;
  margin: 0;
  float: left;
  margin-left: -1px;
}
.grid_sorting_button:first-child{
  margin-left: 0px;
}
.grid_sorting_button.active{
  color: #ffffff;
  background: #cf2d42;
}
.grid_sorting_button.active:hover{
  background: #cf2d42 !important;
}

/****************************New arrival product grid******************/
.product-grid{
  width: 100%;
  margin-top: 57px;
}
.product-item{
  width: 20%;
  height: 400px;
  cursor: pointer;
  margin-bottom: 5px;
}
.product-item::after{
  display: block;
  position: absolute;
  top: 0;
  left: -1px;
  width: calc(100% + 1px);
  height: 100%;
  pointer-events: none;
  content: '';
  border: solid 2px rgba(235,235,235, 0);
  border-radius: 3px;
  transition: all 0.3s ease;
}
.product-item:hover::after{
  box-sizing: 0 25px 29px rgba(63, 78, 100, 0.15);
  border: solid 2px rgba(235,235,235,1);
}

.product_image{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.product_image img{
  width: 100%;
}
.product_info{
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.product_name{
  margin-top: 27px;
}
.product_name a{
  color: #1e2023;
  line-height: 20px;
}
.product_name:hover a{
  color: #b5aec4;
}
.discount .product_info .product_price{
  font-size: 14px;
}
.product_price{
  font-size: 16px;
  color: #cf2d42;
  font-weight: 600;
}
.product_price span{
  font-size: 12px;
  margin-left: 10px;
  color:#b5aec4;
  text-decoration: line-through;
}
.product_bubble{
  position: absolute;
  top: 5px;
  width: 50px;
  height: 22px;
  border-radius: 3px;
  text-transform: uppercase;
}
.product_bubble span{
  font-size: 12px;
  padding-left: 8px;
  font-weight: 600;
  color: #ffffff;
}
.product_bubble_right::after{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 6px;
  right: auto;
  top: auto;
  bottom: -6px;
  border: 6px solid;
}
.product_bubble_left::after{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 6px;
  top: auto;
  bottom: -6px;
  border: 6px solid;
}
.product_bubble_red::after{
  border-color: transparent transparent transparent #cf2d42;
}
.product_bubble_green::after{
  border-color: #51a042 #51a042 transparent transparent;
}
.product_bubble_red{
  background: #cf2d42;
}
.product_bubble_green{
  background: #51a042;
}
.product_bubble_left{
  left: 15px;
}
.product_bubble_right{
  right:15px;
}
.product-item:hover .add_to_cart_button{
  visibility: visible;
  opacity: 1;
}
.red_button{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 40px;
  background: #cf2d42;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.red_button a{
  display: block;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 40px;
  width: 100%;
}
.red_button:hover{
  color: #cf2d42;
}

.favorite{
  position: absolute;
  top: 5px;
  right: 15px;
  color: #b9b4c7;
  width: 17px;
  height: 17px;
  visibility: hidden;
  opacity: 0;
}
.favorite_left{
  left: 15px;
}
.favorite.active{
  visibility: visible;
  opacity: 1;
}
.product-item:hover .favorite{
  visibility: visible;
  opacity: 1;
}
.favorite.active::after{
  font-family: 'FontAwesome';
  content: '\f004';
  color: #cf2d42;
}
.favorite::after{
  font-family: 'FontAwesome';
  content: '\f08a';
}
.favorite:hover::after{
  color: #cf2d42;
}

/**********************************************Deal of the week*****************************/
.deal_ofthe_week{
  width: 100%;
  margin-top: 41px;
  background: #f2f2f2;
}
.deal_ofthe_week_img{
  height: 540px;
}
.deal_ofthe_week_img img{
  height: 100%;
}
.deal_ofthe_week_content{
  height: 100%;
}

.timer{
  margin-top: 66px;
}
.timer li{
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50px;
  background: #ffffff;
  margin-right: 10px;
}
.timer li:last-child{
  margin-right: 0px;
}
.timer_num{
  font-size: 48px;
  font-weight: 600;
  color: #fe4c50;
  margin-top: 10px;
}
.timer_unit{
  margin-top: 12px;
  font-size: 16px;
  font-weight: 500;
  color: #51545f;
}
.deal_ofthe_week_button{
  width: 140px;
  background: #1e1e27;
  margin-top: 52px;
}
.deal_ofthe_week_button:hover{
  background: #2b2b34;
}

/*******************************Best Seller********************************/

.product_slider_container{
  width: 100%;
  height: 340px;
  margin-top: 73px
}
.product_slider_container:after{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: #ffffff;
  content: '';
  z-index: 1;
}
.product_slider{
  overflow: visible !important;
}
.product_slider2{
  overflow: visible !important;
}
.product_slider3{
  overflow: visible !important;
}
.product_slider4{
  overflow: visible !important;
}
.product_slider5{
  overflow: visible !important;
}
.product_slider_item .product-item-bestseller{
  height: 380px;
}
.product_slider_item{
  width: 100%;
}
.product-item-bestseller{
  cursor: pointer;
}
.product-item-bestseller::after{
  display: block;
  position: absolute;
  top: 0;
  left: -1px;
  width: calc(100% + 1px);
  height: 100%;
  pointer-events: none;
  content: '';
  border: solid 2px rgba(235,235,235, 0);
  border-radius: 3px;
  transition: all 0.3s ease;
}

.product-item-bestseller:hover::after{
  box-sizing: 0 25px 29px rgba(63, 78, 100, 0.15);
  border: solid 2px rgba(235,235,235,1);
}
.product_slider_nav{
  position: absolute;
  width: 30px;
  height: 70px;
  background: #d3d3d6;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease;
}
.product_slider_container:hover .product_slider_nav{
  visibility: visible;
  opacity: 1;
}
.product_slider_nav i{
  color: #fff;
  font-size: 12px;
}
.product_slider_nav_left{
  top: 50%;
  left: 0;
}
.product_slider_nav_right{
  top: 50%;
  right: 0;
}
.product_slider_nav_left2{
  top: 50%;
  left: 0;
}
.product_slider_nav_right2{
  top: 50%;
  right: 0;
}
.product_slider_nav_left3{
  top: 50%;
  left: 0;
}
.product_slider_nav_right3{
  top: 50%;
  right: 0;
}
.product_slider_nav_left4{
  top: 50%;
  left: 0;
}
.product_slider_nav_right4{
  top: 50%;
  right: 0;
}
.product_slider_nav_left5{
  top: 50%;
  left: 0;
}
.product_slider_nav_right5{
  top: 50%;
  right: 0;
}


/*******************************Benefit********************************/
.benefit{
  margin-top: 74px;
}
.benefit_row{
  padding-left: 15px;
  padding-right: 15px;
}
.benefit_col{
  padding-left: 0px;
  padding-right: 0px;
}
.benefit_item{
  height: 100px;
  background: #f3f3f3;
  border-right: solid 1px #ffffff;
  padding-left: 25px;
  padding-top: 10px;
}
.benefit_col:last-child .benefit_item{
  border-right: none;
}
.benefit_item i{
  font-size: 30px;
  color: #fe4c50;
}
.benefit_content{
  padding-left: 22px;
}
.benefit_content h6{
  text-transform: uppercase;
  line-height: 18px;
  font-weight: 500;
  margin-bottom: 0px;
}
.benefit_content p{
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 0px;
  color: #51545f;
}

/****************************** Login and registration ***********************************/
/* version 3.0 table added */
.login-container {
	-webkit-font-smoothing: antialiased;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.1em;
	color: #1e2a28;
	width: 740px;
	margin: 0 auto;
	padding: 0px 20px 20px 20px;
}

.login-container table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 30px;
}

.login-container td, .login-container th {
	text-align: left;
	padding: 8px;
}

.login-container h1 {
	font-weight: normal;
}

input[type=text].login-input, .login-container input,
	.login-container textarea, .login-container select, .login-input,
	.login-select {
	box-sizing: border-box;
	width: 200px;
	height: initial;
	padding: 8px 5px;
	border: 1px solid #9a9a9a;
	border-radius: 3px;
}

.login-container input[type="checkbox"] {
	width: auto;
	vertical-align: text-bottom;
	display: initial;
	opacity: initial;
	position: inherit;
	pointer-events: initial;
}

.login-container textarea, .login-textarea {
	width: 300px;
}

.login-container select, .login-select {
	display: initial;
	height: 30px;
	background-color: #fff;
	padding: 2px 5px;
}

.login-container button, .login-container input[type=submit] {
	padding: 8px 0px;
	font-size: 1em;
	cursor: pointer;
	border-radius: 3px;
	color: #fff;
	font-weight: bold;
	background-color: #cf2d42;
	border-color: #cf2d42;
}

.login-container button, .login-container input[type=submit]:hover {
	background-color: #cf2d42;
}

.login-container button:focus {
	outline: none;
}

.login-container .login-row {
	padding-top: 15px;
}

#login-message {
	padding: 6px 20px;
	font-size: 1em;
	color: rgb(40, 40, 40);
	box-sizing: border-box;
	margin: 0px;
	border-radius: 3px;
	width: 100%;
	overflow: auto;
}

.login-container .error {
	padding: 6px 20px;
	border-radius: 3px;
	background-color: #fb817c;
	border: 1px solid #e46b66;
}

.login-container .success {
	background-color: #48e0a4;
	border: #40cc94 1px solid;
}

#login-loader-icon {
	color: #1871e6;
	font-weight: bold;
	padding: 6px 20px 6px 0;
	display: none;
	vertical-align: middle;
}

#login-loader-ack-icon {
	color: #1871e6;
	font-weight: bold;
	padding: 6px 20px 6px 0;
	display: none;
	vertical-align: middle;
}

#login-btn-send:hover {
	background: #1363cc;
	border: #105bbd 1px solid;
}

.login-container .validation-message {
	color: #e20900;
	display: inline-block;
}

.login-container .label {
	margin-bottom: 3px;
}

.login-form, .login-section {
	border: #eaeaea 1px solid;
	padding: 10px 25px 10px 30px;
	border-radius: 3px;
}

.login-container .display-none {
	display: none;
}

.icon-add-more-attachemnt {
	cursor: pointer;
	font-style: italic;
	font-size: .9em;
}

.inline-block {
	display: inline-block;
}

.sign-up-container {
	border: 1px solid;
	border-color: #9a9a9a;
	background: #fff;
	border-radius: 4px;
	padding: 10px;
	width: 450px;
	margin: 50px auto;
}

.page-header {
	float: right;
}

.login-signup {
	margin: 10px;
	text-decoration: none;
	float: right;
}

.login-signup a {
	text-decoration: none;
	font-weight: 700;
}

.signup-heading {
	font-size: 2em;
	font-weight: bold;
	padding-top: 20px;
	text-align: center;
}

.inline-block {
	display: inline-block;
}

.row {
	margin: 15px 0px;
	text-align: center;
}

.form-label {
	margin-bottom: 5px;
	text-align: left;
}

input.input-box-330 {
	width: 250px;
}

.sign-up-container .error {
	color: #ee0000;
	padding: 0px;
	background: none;
	border: #ee0000;
}

.sign-up-container .error-field {
	border: 1px solid #d96557;
}

.sign-up-container .error:before {
	content: '*';
	padding: 0 3px;
	color: #D8000C;
}

.error-msg {
	padding-top: 10px;
	color: #D8000C;
	text-align: center;
}

.success-msg {
  padding-top: 10px;
	color: #176701;
	text-align: center;
}

input.btn {
	width: 250px
}

.signup-align {
	margin: 0 auto;
}

.page-content {
	font-weight: bold;
	padding-top: 60px;
	text-align: center;
}

/****************************User Navbar*******************************/
.img-circle{
  width: 70px;
  height: auto;
}
.username{
  color: #cf2d42;
}

.pull-right{
  float: right;
}

.pull-left{
  float: left;
}

/***********************Error and Success**********************/
.callout {
 border-radius: 3px;
 margin: 0 0 20px 0;
 padding: 15px 30px 15px 15px;
 border-left: 5px solid #eee;
}
.callout a {
 color: #fff;
 text-decoration: underline;
}
.callout a:hover {
 color: #eee;
}
.callout h4 {
 margin-top: 0;
 font-weight: 600;
}
.callout p:last-child {
 margin-bottom: 0;
}
.callout code,
.callout .highlight {
 background-color: #fff;
}
.callout.callout-danger {
 border-color: #c23321;
 background-color: #cf2d42;
}
.callout.callout-warning {
 border-color: #c87f0a;

}
.callout.callout-info {
 border-color: #0097bc;
}
.callout.callout-success {
 border-color: #00733e;
 background-color: #00733e;
}